.autocomplete-container{
    font-family: sans-serif;
    text-align: center;

}

.input-box{
    width: 500px;
    font-size: 20px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid black;

}


.results{
    display: relative;
    padding: 5px;
    width: 500px;
    margin:auto;
    text-align: left;
    height: 500px;
    overflow-y: auto;

}
.result{
    border-collapse: collapse;
}
.result:hover{
    background-color: #d6ec13;
    cursor: pointer;
}